[submodule "auth-service"]
	path = auth-service
	url = https://github.com/ia-ticket/auth-service.git
[submodule "io-service"]
	path = io-service
	url = https://github.com/ia-ticket/io-service.git
[submodule "business-logic-service"]
	path = business-logic-service
	url = https://github.com/ia-ticket/business-logic-service.git
